@import '../../variables';

.LandingLayout_landing {
    position: relative;

    @media #{$mobile} {
        padding: 7% 8.5%;
        overflow: hidden;
    }

    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    max-width: 1216px;
    margin: 0 auto;
    padding: 48px 126px 0 220px;
}

.Blockchain_blockchain {
    position: relative;

    padding-bottom: 112px;


}

.Intro_container {

    border-bottom: 1px solid $grayE;

    &_head {
        margin-top: 24px;
        margin-bottom: 40px;
        @media #{$mobile} {
            margin-top: 16px;
            margin-bottom: 32px;
        }
    }

    &_margins {
        margin-bottom: 24px;
        @media #{$mobile} {
            margin-bottom: 16px;
        }
    }
}

.Intro_content_mobile {
    @media #{$mobile} {
        display: flex;
        flex-flow: column-reverse;
    }

}

.Head_row {
    margin-top: 24px;
    margin-bottom: 60px;
    @media #{$mobile} {
        margin-top: 16px;
    }
}

.Typography_text {
    color: $gray4;
    font-weight: 400;

    &_red {
        color: $red !important;
        font-weight: 400;
    }

    &_24 {
        font-size: 24px;
        line-height: 36px;
    }

    &_18 {
        font-size: 18px;
        line-height: 28px;
    }

    &_medium {
        font-weight: 500 !important;
    }

    &_bold {
        font-weight: 600 !important;
    }
}

.Container_main {
    padding-top: 40px;
    padding-bottom: 40px;

    border-bottom: 1px solid $grayE;

    @media #{$mobile} {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.Table {
    width: 100%;
    padding-top: 60px;

    color: $gray4;
    text-align: left;

    border-collapse: collapse;

    &_header th {
        padding-bottom: 16px;
    }

    &_row {
        border-top: 1px solid $red;

        td {
            padding-top: 16px;

            vertical-align: top;
        }
    }

    &_column_0 {
        width: 25%;
    }

    &_column_1 {
        width: 37.5%;
        padding-right: 8%;
        padding-bottom: 24px;
    }

    &_column_2 {
        width: 37.5%;
        padding-right: 9%;
        padding-bottom: 24px;
    }
}

.Details {
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$mobile} {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    &_map {
        display: flex;
        flex-direction: row;
        padding-top: 40px;

        @media #{$mobile} {
            padding-top: 24px;
        }
    }

    &_column_left {
        display: flex;
        flex-direction: column;
    }

    &_column_right {
        padding-top: 46px;

        > div:last-child {
            > * {
                border: none !important;

                &::before {
                    display: none;
                }
            }
        }
    }

    &_between_shape {
        position: relative;

        margin-bottom: 30px !important;

        border-top: 2px solid $red;
        border-left: 2px solid $red;
        border-radius: 30px 0 0 0;

        &::after {
            content: '';

            position: absolute;
            top: -2px;
            right: calc(-16px - 16px - 27px);

            display: block;
            box-sizing: border-box;
            width: calc(16px + 16px + 27px);
            height: 47px;

            border-top: 2px solid $red;
            border-right: 2px solid $red;
            border-radius: 0 30px;
        }

        &::before {
            content: '';

            position: absolute;
            bottom: -30px;
            left: calc(-16px - 16px - 27px);

            display: block;
            box-sizing: border-box;
            width: calc(16px + 16px + 27px);
            height: 30px;

            border-right: 2px solid $red;
            border-bottom: 2px solid $red;
            border-radius: 30px 0;
        }
    }

    &_row {
        display: flex;
        flex-direction: row;

        &_mobile {
            @media #{$mobile} {
                margin-top: 40px;
            }
        }

        &_shape {
            position: relative;

            margin-right: 24px;

            svg {
                @media #{$mobile} {
                    @include set-size(32px, 32px);
                }
            }

            @media #{$mobile} {
                margin-right: 16px;
            }

            &::before {
                content: '';

                position: absolute;
                left: 25px;
                z-index: -1;

                width: 2px;
                height: 100%;

                background-color: $red;

                @media #{$mobile} {
                    display: none;
                }
            }
        }

        &:last-child {
            > div:first-child {
                &::before {
                    content: '';

                    position: absolute;
                    bottom: 0;
                    left: 25px;
                    z-index: -1;

                    width: 100%;
                    height: 100%;

                    background-color: transparent;
                    border-bottom: 2px solid red;
                    border-left: 2px solid red;
                    border-radius: 0 30px;

                    @media #{$mobile} {
                        border-bottom: none;
                        border-radius: 0;
                    }
                }
            }

            > div:last-child {
                border-bottom: 2px solid $red;

                @media #{$mobile} {
                    border-bottom: none;
                }
            }
        }

        &_polygon {
            display: block;
            width: 57px;
            height: 57px;
            margin-right: auto;
            margin-left: auto;
        }

        &_column {
            padding-bottom: 30px;

            @media #{$mobile} {
                padding-bottom: 16px;
            }
        }
    }

    &_logo {
        padding-top: 14px;

        @media #{$mobile} {
            padding-top: 4px;
        }

        svg {
            @include set-size(197px, 32px);
            margin-bottom: 16px;

            @media #{$mobile} {
                @include set-size(148px, 24px);
            }
        }
    }
}
