@import '~src/ui2/variables';

.intro {
    padding: 56px 0 24px;

    @media #{$mobile} {
        padding-top: 28px;
    }

    h1 {
        margin: 28px 0;

        font-weight: 570;

        @media #{$mobile} {
            margin-top: 24px;
            margin-bottom: 16px;
        }
    }
}

.title {

    @media #{$mobile} {
        display: none;
    }

    display: inline-block;
    padding: 8px;

    color: $gray8;
    font-size: 16px;
    line-height: 16px;

    border: 1px solid $grayB;
    border-radius: 3px;
}
